<div>
  <div class="container">
    <a routerLink="/posts/{{ state.id }}" class="btn btn-primary mt-3">back</a>
    <div
      class="alert alert-danger text-center mt-2"
      *ngIf="editPostForm.errors?.servererror"
    >
      {{ editPostForm.errors.servererror }}
    </div>
    <div class="card mt-4 mb-5 px-4">
      <div class="card-body">
        <div class="card-title"><h3>Edit post</h3></div>
        <form (ngSubmit)="editPost(editPostForm)" [formGroup]="editPostForm">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title" />
          </div>
          <div class="form-group">
            <label>Body</label>
            <textarea
              class="form-control text"
              formControlName="body"
            ></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success float-right">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
