<div>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="alert alert-danger mt-4 text-center" *ngIf="error?.message">
      {{ error.message }}
    </div>
    <div class="card mt-5" *ngIf="post">
      <div class="card-body">
        <div class="card-title">
          <h4>{{ post.title }}</h4>
        </div>
        <div class="card-text">{{ post.body }}</div>
        <div *ngIf="authService.checkToken()" class="mt-4">
          <a
            routerLink="/posts/{{ id }}/edit"
            [state]="{ post: post }"
            class="btn btn-primary"
            >Edit</a
          >
          <button
            type="button"
            class="ml-3 btn btn-danger"
            (click)="deletePost(post.id)"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="card-footer">{{ post.created_at | date: "shortDate" }}</div>
    </div>
  </div>
</div>
