<div>
  <app-navbar></app-navbar>
  <div
    class="alert alert-danger mx-auto text-center mt-4"
    style="width:25rem;"
    *ngIf="loginForm.errors?.servererror"
  >
    {{ loginForm.errors?.servererror }}
  </div>
  <div class="card mx-auto mt-5" style="width:25rem;">
    <div class="card-header">
      <h3>Login</h3>
    </div>
    <div class="card-body px-4">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="loginForm.get('email').errors?.servererror"
          />
          <small
            class="invalid-feedback"
            *ngIf="loginForm.get('email').errors?.servererror"
            >{{ loginForm.get("email").errors?.servererror }}</small
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="text"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="loginForm.get('password').errors?.servererror"
          />
          <small
            class="invalid-feedback"
            *ngIf="loginForm.get('password').errors?.servererror"
            >{{ loginForm.get("password").errors?.servererror }}</small
          >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
