<div>
  <app-navbar></app-navbar>
  {{ loginForm.value | json }}
  <div class="card mx-auto mt-5" style="width:450px">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="
              loginForm.controls.email.touched &&
              loginForm.controls.email.invalid
            "
          />
          <small
            class="invalid-feedback"
            [class.d-none]="
              loginForm.controls.email.untouched ||
              loginForm.controls.email.valid
            "
            >Email is required</small
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="text"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="
              loginForm.controls.password.touched &&
              loginForm.controls.password.invalid
            "
          />
          <small
            class="invalid-feedback"
            [class.d-none]="
              loginForm.controls.password.untouched ||
              loginForm.controls.password.valid
            "
            >Password is required</small
          >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
