<div>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="mt-5 mb-5" *ngFor="let post of posts">
      <a class="card" routerLink="/posts/{{ post.id }}">
        <div class="card-body">
          <div class="card-title">
            <h4>{{ post.title }}</h4>
          </div>
          <p class="card-text">{{ post.body }}</p>
        </div>
        <div class="card-footer">
          <p class="float-right">{{ post.created_at | date: "shortDate" }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
